*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    background-color: #265ee9;
}
/* HEADER */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #265ee9;
    /* DEBUG */
   
}
header div{
    width: 20%;
    height: 80px;
    
}
.logo-navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}
.href{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* DEBUG */
    
}
.href li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    
    
}
li a{
    text-decoration: none;
    color: white;
    
}
.log-in-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.log-in-btn span{
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    font-weight: bold;
}
.banner-btn .fa-solid{
    background-color: white;
}
/* BANNER */
.section-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 2000px;
    margin: 0 auto;
    
}
.banner{
    width: 60%;
    max-width: 1000px;
    margin: 100px 0;
   background-color: #23272a00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1{
   
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    color: white;
    background-color: #23272a00;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    /* DEBUG */
   
    
}
.banner p{   
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: #23272a00;
    
  
  
    
    /* DEBUG */
}
.banner-btn{
    display: flex;
    justify-content: space-between;
    background-color: #23272a00;
    
    
}
.banner-btn span{
    display: inline-block;
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;

}
#brows-discord{
    background-color: black;
    color: white;
}





.first-disclamer-contenitor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 100px 0 100px 0;
}
.first-disclamer-contenitor .second-section,
.second-disclamer-contenitor .second-section,
.third-disclamer-contenitor .second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    color: black;
    padding: 0 80px;
}
.first-disclamer-contenitor .first-section,
.second-disclamer-contenitor .first-section,
.third-disclamer-contenitor .first-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
section>.first-disclamer-contenitor img{
    max-width: 100%;
    background-color: white;
}
section>.first-disclamer-contenitor h2{
    font-size: 40px;
    margin-bottom: 30px;
    background-color: #fff;
}
section>.first-disclamer-contenitor p{
    font-size: 24px;
    background-color: #fff;
}

.second-disclamer-contenitor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    padding: 100px 0 100px 0;
}
section>.second-disclamer-contenitor img{
    max-width: 100%;
    background-color: rgb(235, 235, 235);

}
section>.second-disclamer-contenitor h2{
    font-size: 40px;
    margin-bottom: 30px;
    background-color: rgb(235, 235, 235);
}
section>.second-disclamer-contenitor p{
    font-size: 24px;
    background-color: rgb(235, 235, 235);
}
.second-disclamer-contenitor .second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    background-color: rgb(235, 235, 235);
}
.third-disclamer-contenitor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    background-color: rgb(255, 255, 255);
    
    padding: 100px 0 100px 0;
}
section>.third-disclamer-contenitor img{
    max-width: 100%;
    max-height: 100%;
    background-color: white;
}
section>.third-disclamer-contenitor h2{
    font-size: 40px;
    margin-bottom: 30px;
    background-color: #fff;
}
section>.third-disclamer-contenitor p{
    font-size: 24px;
    background-color: #fff;
}

.fourth-disclamer-contenitor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    text-align: center;
    background-color: rgb(235, 235, 235);
    padding: 382px 0 199px 0;
    
}
section>.fourth-disclamer-contenitor img{
    width: 1200px;
    
   
}
section>.fourth-disclamer-contenitor h2{
    font-size: 40px;
    margin-bottom: 30px;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
    
}
section>.fourth-disclamer-contenitor p{
    font-size: 24px;
}
.fourth-disclamer-contenitor-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 70px 0 200px 0;
}
.fourth-disclamer-contenitor span{
    background-color: #265ee9;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 20px;
}
    

















.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 400px;
    
   
    
    
}
.container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 700px;
}


.first-section{
    width: 50%;
    height: 400px;
    
    
}
.second-section{
    width: 50%;
    height: 400px;
    
}
footer{
    display: flex;
   
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    background-color: #23272a;
}
.grow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 100px;
    flex-grow: 1;
}
.grow-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    padding-bottom: 10px;
}
.grow-top img{
    width: 30px;
}
.grow-top #it{
    padding-left: 10px;
    color: white;
    
}
.grow-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.grow i{
    color: white;
    padding: 10px;
    font-size: 20px;

}
footer div{
    width: calc(100% / 6);
    max-width: 1200px;
    text-align: center;
    
    background-color: #23272a; 
}

.footer-href li{
    text-align: start;
    list-style: none;
    margin-bottom: 10px;
}
.footer-href .blu{
    color: #265ee9;
    margin-bottom: 20px;
}
.contenitor-footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    width: 90%;
    height: 400px;
    
}
.contenitor-bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 43px 0;
    border-top: 1px solid #265ee9;



}
.contenitor-bottom-footer img{
    padding-top: 10px;
}
.signup-btn{
    background-color: #414eed;
    border-radius: 20px;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
